<!DOCTYPE html>
<html>
	<head>
		<title>Jotti</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/photon.css">

		<!-- Electron Javascript -->
		<!-- <script src="app.js" charset="utf-8"></script> -->
		<script>window.$ = window.jQuery = require('./js/vendor/jquery/dist/jquery.min.js');</script>
		<!-- <script src="js/vendor/jquery/dist/jquery.min.js"></script> -->
		<script src="js/vendor/markdown-it/dist/markdown-it.min.js"></script>
		<script type="text/javascript">
		$(document).ready(() => {
			let md = window.markdownit();
			$('#source-text').on('change keyup paste', () => {
				let string = $('#source-text').val();
				let res = md.render(string);
				console.log(res);
				$('#render-markdown').html(res);
			});
		});
		</script>
	</head>
	<body>
		<!-- Wrap your entire app inside .window -->
		<div class="window">

			<!-- Your app's content goes inside .window-content -->
			<div class="window-content">
				<div class="pane-group">
					<div class="pane-sm sidebar">
						<ul class="list-group">
							<li class="list-group-header">
								<input class="form-control" type="text" placeholder="Search for someone">
							</li>
							<li class="list-group-item">
								<img class="img-circle media-object pull-left" src="/assets/img/avatar.jpg" width="32" height="32">
								<div class="media-body">
									<strong>List item title</strong>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="pane">
						<h1> Test Markdown</h1>
							<div class="form-group">
								<label>Description</label>
								<textarea id="source-text" class="form-control" rows="3"></textarea>
	 						</div>
							<div class="form-actions">
								<button id="render-button" class="btn btn-form btn-primary">Render</button>
							</div>
						<div id="render-markdown"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
